
body {
  background-color: navy;
}
#trumpet {
  position: absolute;
}
#trump {
  position: relative;
  width: 100%;
  height: 100%;


}
.trumper {
  width: 100%;
  height: 100%;
  cursor: none;
  margin-left: auto;
  margin-right: auto;
}

.hover {
  width: 100px;
  height: 80px;

  position: absolute;
  /*bottom: +370px;
  left: +190px;*/
  margin: 0 auto;
  top: 33%;
  left: 45%;
  
}
